__pycache__/
*.py[cod]
*$py.class
*.so
.cache
.mypy_cache/
.dmypy.json
dmypy.json
.ruff_cache/
*.exe
*.exe~
*.dll
*.dylib
*.test
*.d
*.o
*.ko
*.obj
*.elf
*.ilk
*.map
*.exp
*.gch
*.pch
*.lib
*.a
*.la
*.lo
*.so.*
*.out
*.app
*.i*86
*.x86_64
*.hex
*.dSYM/
*.su
*.idb
*.pdb
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.history/
.src/
*.log
*.txt
*.prof
*.trace
